<div id="<%= dom_id fren %>">
  <p>
    <strong>First name:</strong>
    <%= fren.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= fren.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= fren.email %>
  </p>

</div>
